@model Entidades.Models.Pediatria;

@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="container text-center">
    <h1 class="display-4">@ViewBag.Paciente.Nombre @ViewBag.Paciente.Apellido</h1>
    <h4>Pediatría (crear)</h4>
    <h5>Para ingresar valores decimales por favor utilizar: , (coma)</h5>
    <br />
    <form action="/Pediatria/CreatePediatry" method="POST">
        <div class="row">
            <div class="col">
                <label class="form-label" for="Peso">Peso (Kg): *</label>
                <input class="form-control" type="text" id="pediatria_peso" name="Peso" value="" required />
            </div>
            <div class="col">
                <label class="form-label" for="PercentilPeso">Percentil Peso: </label>
                <input class="form-control" type="text" name="PercentilPeso" value="" />
            </div>
            <div class="col">
                <label class="form-label" for="PzPeso">PzPeso: </label>
                <input class="form-control" type="text" name="PzPeso" value="" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="Talla">Talla (cm): *</label>
                <input class="form-control" type="text" id="pediatria_talla" name="Talla" value="" required />
            </div>
            <div class="col">
                <label class="form-label" for="PercentilTalla">Percentil Talla: </label>
                <input class="form-control" type="text" name="PercentilTalla" value="" />
            </div>
            <div class="col">
                <label class="form-label" for="PzTalla">PzTalla: </label>
                <input class="form-control" type="text" name="PzTalla" value="" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="Imc">Imc (Kg/M²): </label>
                <input class="form-control" type="text" id="pediatria_imc" name="Imc" value="" onfocus="calcula_imc_pediatria()" />
            </div>
            <div class="col">
                <label class="form-label" for="PercentilImc">Percentil Imc: </label>
                <input class="form-control" type="text" name="PercentilImc" value="" />
            </div>
            <div class="col">
                <label class="form-label" for="PzImc">PzImc: </label>
                <input class="form-control" type="text" name="PzImc" value="" />
            </div>            
        </div>
        <br />
        <div class="row">            
            <div class="col">
                <label class="form-label" for="Pc">Pc: </label>
                <input class="form-control" type="text" name="Pc" value="" />
            </div>
            <div class="col">
                <label class="form-label" for="PercentilPc">Percentil Pc: </label>
                <input class="form-control" type="text" name="PercentilPc" value="" />
            </div>
            <div class="col">
                <label class="form-label" for="PzPc">PzPc: </label>
                <input class="form-control" type="text" name="PzPc" value="" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="form-label" for="AgudezaDer">Agudeza Visual ojo der: </label>
                <input class="form-control" type="text" name="AgudezaDer" value="" />
            </div>
            <div class="col">
                <label class="form-label" for="AgudezaIzq">Agudeza Visual ojo izq: </label>
                <input class="form-control" type="text" name="AgudezaIzq" value="" />
            </div>            
        </div>
        <br />
        <br />
        <input type="number" name="PacienteId" value=@ViewBag.Paciente.Id hidden />
        <input class="btn btn-lg btn-success" type="submit" name="agregar" value="Agregar Consulta pediátrica" />
        <a class="btn btn-lg btn-danger" href="/Paciente/viewDetails/@ViewBag.Paciente.Id">Cancelar</a>
    </form>
</div>
