@model Entidades.Models.Complementario;

@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="container text-center">
    <h1 class="display-4">@ViewBag.Paciente.Nombre @ViewBag.Paciente.Apellido</h1>
    <h4>Complementary data (create)</h4>
    <br />
    <form action="/Complementario/create" method="POST">
        <div class="row">
            <div class="col">
                <label class="form-label" for="LugarNac">Place of birth: </label>
                <input class="form-control" type="text" name="LugarNac" value="" />
            </div>
            <div class="col">
                <label class="form-label" for="ParajeResidencia">Location of residence: </label>
                <input class="form-control" type="text" name="ParajeResidencia" value="" />
            </div>
            <div class="col">
                <label class="form-label" for="Etnia">Ethnicity: </label>
                <input class="form-control" type="text" name="Etnia" value="" />
            </div>
            <div class="col">
                <label class="form-label" for="EstadoCivil">Marital status: </label>
                <input class="form-control" type="text" name="EstadoCivil" value="" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="SabeLeer">Can read? </label>
                <select class="form-control" name="SabeLeer">
                    <option value=0>Choose an option</option>
                    <option value=1>Yes</option>
                    <option value=0>No</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="Escolaridad">Schooling: </label>
                <select class="form-control" name="Escolaridad">
                    <option selected value="NINGUNA">NONE</option>
                    <option value="JARDIN INFANTES">KINDERGARDEN</option>
                    <option value="PRIMARIA">PRIMARY</option>
                    <option value="SECUNDARIA">SECONDARY</option>
                    <option value="TERCIARIA">TERTIARY</option>
                    <option value="UNIVERSITARIA">UNIVERSITY</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="Ocupacion">Occupation: </label>
                <input class="form-control" type="text" name="Ocupacion" value="" />
            </div>
            <div class="col">
                <label class="form-label" for="AnoIngreso">Year of entry: </label>
                <input class="form-control" type="number" name="AnoIngreso" value="" />
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="Notas">Notes: </label>
                <textarea name="Notas" class="form-control" cols="120" rows="8"></textarea>
            </div>
        </div>
        <br />
        <input type="number" name="PacienteId" value=@ViewBag.PacienteID hidden />
        <input class="btn btn-lg btn-success" type="submit" name="agregar" value="Create complementary data record" />
        <a class="btn btn-lg btn-danger" href="/Paciente/viewDetails/@ViewBag.PacienteID">Cancel</a>
    </form>
</div>
