@model Entidades.Models.Historia;

@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="container text-center">
    <h1 class="display-4">@ViewBag.Paciente.Nombre @ViewBag.Paciente.Apellido</h1>
    <h4>Historia (crear)</h4>
    <br />
    <form action="/Historia/CreateHistory" method="POST">
        <div class="row">
            <div class="col">
                <label class="form-label" for="ExamenFisico">Exámen Físico: </label>
                <input class="form-control" type="text" name="ExamenFisico" value="" />
            </div>
            <div class="col">
                <label class="form-label" for="Ta">Tensión arterial (TA): </label>
                <input class="form-control" type="text" name="Ta" value="" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="Peso">Peso (Kg): *</label>
                <input class="form-control" type="text" id="historia_peso" name="Peso" value="" required />
            </div>
            <div class="col">
                <label class="form-label" for="Talla">Talla (cm): *</label>
                <input class="form-control" type="text" id="historia_talla" name="Talla" value="" required />
            </div>
            <div class="col">
                <label class="form-label" for="Imc">Imc (Kg/M²): </label>
                <input class="form-control" type="text" id="historia_imc" onfocus="calcula_imc_historia()" name="Imc" value="" />
            </div>
            <div class="col">
                <label class="form-label" for="Glicemia">Glicemia (mg/dl): </label>
                <input class="form-control" type="number" name="Glicemia" value="" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="CircCintura">Circunferencia Cintura (cms): </label>
                <input class="form-control" type="number" name="CircCintura" value="" />
            </div>
            <div class="col">
                <label class="form-label" for="CircCadera">Circunferencia de Cadera (cms): </label>
                <input class="form-control" type="number" name="CircCadera" value="" />
            </div>
            <div class="col">
                <label class="form-label" for="Saturacion">Saturación (%): </label>
                <input class="form-control" type="number" name="Saturacion" value="" />
            </div>
            <div class="col">
                <label class="form-label" for="Temperatura">Temperatura (º): </label>
                <input class="form-control" type="text" name="Temperatura" value="" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="AgudezaDer">Agudeza Visual ojo der: </label>
                <input class="form-control" type="text" name="AgudezaDer" value="" />
            </div>
            <div class="col">
                <label class="form-label" for="AgudezaIzq">Agudeza Visual ojo izq: </label>
                <input class="form-control" type="text" name="AgudezaIzq" value="" />
            </div>
            <div class="col">
                <label class="form-label" for="Ecografia">Ecografía: </label>
                <select class="form-control" name="Ecografia">
                    <option value=0>NO</option>
                    <option value=1>SI</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="ObservacionEco">Observación Ecografía: </label>
                <input class="form-control" type="text" name="ObservacionEco" value="" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="Ecg">ECG:</label>
                <select class="form-control" name="Ecg">
                    <option value=0>NO</option>
                    <option value=1>SI</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="ObservacionEcg">Observación ECG: </label>
                <input class="form-control" type="text" name="ObservacionEcg" value="" />
            </div>
            <div class="col">
                <label class="form-label" for="Radiografia">Radiografía:</label>
                <select class="form-control" name="Radiografia">
                    <option value=0>NO</option>
                    <option value=1>SI</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="ObservacionRadiografia">Observación Radiografía: </label>
                <input class="form-control" type="text" name="ObservacionRadiografia" value="" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="Laboratorio">Laboratorio:</label>
                <select class="form-control" name="Laboratorio">
                    <option value=0>NO</option>
                    <option value=1>SI</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="ObservacionLab">Observacion Laboratorio: </label>
                <input class="form-control" type="text" name="ObservacionLab" value="" />
            </div>
            <div class="col">
                <label class="form-label" for="EstudiosComp">Estudios Complementarios: </label>
                <input class="form-control" type="text" name="EstudiosComp" value="" />
            </div>
            <div class="col">
                <label class="form-label" for="Diagnostico">Diagnóstico: *</label>
                <input class="form-control" type="text" name="Diagnostico" value="" required/>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="Tratamiento">Tratamiento: </label>
                <input class="form-control" type="text" name="Tratamiento" value="" />
            </div>
            <div class="col">
                <label class="form-label" for="DerivacionAguda">Derivación Aguda:</label>
                <select class="form-control" name="DerivacionAguda">
                    <option value=0>NO</option>
                    <option value=1>SI</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="DerivacionProg">Derivación Programada: </label>
                <input class="form-control" type="text" name="DerivacionProg" value="" />
            </div>
            <div class="col">
                <label class="form-label" for="ObservacionDeriv">Observacion Derivación: </label>
                <input class="form-control" type="text" name="ObservacionDeriv" value="" />
            </div>            
        </div>
        <br />
        <input type="number" name="PacienteId" value=@ViewBag.Paciente.Id hidden />
        <input class="btn btn-lg btn-success" type="submit" name="agregar" value="Agregar Historia" />
        <a class="btn btn-lg btn-danger" href="/Paciente/viewDetails/@ViewBag.Paciente.Id">Cancelar</a>
    </form>
</div>
