@model Entidades.Models.Ginecologia;

@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="container text-center">
    <h1 class="display-4">@ViewBag.Paciente.Nombre @ViewBag.Paciente.Apellido</h1>
    <h4>Ginecología (crear)</h4>
    <br />
    <form action="/Ginecologia/CreateGinecology" method="POST">
        <div class="row">
            <div class="col">
                <label class="form-label" for="Gestas">Gestas: </label>
                <input class="form-control" type="number" name="Gestas" value="" />
            </div>
            <div class="col">
                <label class="form-label" for="Para">Para: </label>
                <input class="form-control" type="number" name="Para" value="" />
            </div>
            <div class="col">
                <label class="form-label" for="Cesareas">Cesáreas: </label>
                <input class="form-control" type="number" name="Cesareas" value="" />
            </div>
            <div class="col">
                <label class="form-label" for="Abortos">Abortos: </label>
                <input class="form-control" type="number" name="Abortos" value="" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="Irs">Inicio relaciones sexuales (Irs): </label>
                <input class="form-control" type="number" name="Irs" value="" />
            </div>
            <div class="col">
                <label class="form-label" for="Menarca">Menarca: </label>
                <input class="form-control" type="number" name="Menarca" value="" />
            </div>
            <div class="col">
                <label class="form-label" for="RitmoMenst">RitmoMenst: </label>
                <select class="form-control" name="RitmoMenst">
                    <option value="REGULAR">REGULAR</option>
                    <option value="IRREGULAR">IRREGULAR</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="Menopausia">Menopausia: </label>
                <input class="form-control" type="number" name="Menopausia" value="" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="TomaPap">TomaPap: </label>
                <input class="form-control" type="number" name="TomaPap" value="" />
            </div>
            <div class="col">
                <label class="form-label" for="ResultadoPap">Resultado Pap: </label>
                <input class="form-control" type="text" name="ResultadoPap" value="" />
            </div>
            <div class="col">
                <label class="form-label" for="Colposcopia">Colposcopia: </label>
                <input class="form-control" type="number" name="Colposcopia" value="" />
            </div>
            <div class="col">
                <label class="form-label" for="EstudiosComp">Estudios Complementarios: </label>
                <input class="form-control" type="text" name="EstudiosComp" value="" />
            </div>
        </div>
        <br />        
        <br />
        <input type="number" name="PacienteId" value=@ViewBag.Paciente.Id hidden />
        <input class="btn btn-lg btn-success" type="submit" name="agregar" value="Agregar Consulta Ginecológica" />
        <a class="btn btn-lg btn-danger" href="/Paciente/viewDetails/@ViewBag.Paciente.Id">Cancelar</a>
    </form>
</div>
