@{
    ViewData["Title"] = "La Higuera";
}

<div class="text-center">
    <img width="400" src="../img/LaHiguera_logo.png">
    <h1 class="display-4">Welcome to the Medical History application</h1>
</div>
