@{
    ViewData["Title"] = "La Higuera";
}

<div class="text-center">
    <img width="400" src="../img/LaHiguera_logo.png">
    <h1 class="display-4">Bienvenido a la app de historias clínicas</h1>
</div>
