@model Entidades.Models.Paciente;

@{
    Layout = "../Shared/_Layout.cshtml";
}

@{
    string today = @DateTime.Today.ToString("yyyy-MM-dd");
}

<div class="container text-center">
    <h1 class="display-4">Alta de Paciente</h1>
    <br />
    <form action="/Paciente/CreatePatient" method="POST">
        <div class="row">
            <div class="col">
                <label class="form-label" for="nombre">Nombre: *</label>
                <input class="form-control" type="text" name="nombre" value="" required/>
            </div>
            <div class="col">
                <label class="form-label" for="apellido">Apellido: *</label>
                <input class="form-control" type="text" name="apellido" value="" required />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="Dni">Dni: </label>
                <input class="form-control" type="number" name="Dni" value="" />
            </div>
            <div class="col">
                <label class="form-label" for="FechaNac">Fecha de Nacimiento: *</label>
                <input class="form-control" type="date" name="FechaNac" value="" required max="@today" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="Sexo">Sexo: *</label>
                <select class="form-control" name="Sexo" required>
                    <option value="">Elija una opción</option>
                    <option value="FEMENINO">FEMENINO</option>
                    <option value="MASCULINO">MASCULINO</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="ParajeAtencion">Paraje de atención: *</label>
                <input class="form-control" type="text" name="ParajeAtencion" value="" required />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="FlgActivo">Activo:</label>
                <select class="form-control" name="FlgActivo">                    
                    <option selected value=1>Activo</option>
                    <option value=0>No activo</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="FechaAlta">Fecha de alta: </label>
                <input class="form-control" type="date" name="FechaAlta" value="" max="@today" />
            </div>
        </div>
        <br />
        <br />
        <input class="btn btn-lg btn-success" type="submit" name="agregar" value="Agregar Paciente" />
    </form>
</div>
