@model Entidades.Models.Paciente;

@{
    Layout = "../Shared/_Layout.cshtml";
}

@{
    string today = @DateTime.Today.ToString("yyyy-MM-dd");
}

<div class="container text-center">
    <h1 class="display-4">Create Patient</h1>
    <br />
    <form action="/Paciente/CreatePatient" method="POST">
        <div class="row">
            <div class="col">
                <label class="form-label" for="nombre">First name: *</label>
                <input class="form-control" type="text" name="nombre" value="" required/>
            </div>
            <div class="col">
                <label class="form-label" for="apellido">Last name: *</label>
                <input class="form-control" type="text" name="apellido" value="" required />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="Dni">DNI: </label>
                <input class="form-control" type="number" name="Dni" value="" />
            </div>
            <div class="col">
                <label class="form-label" for="FechaNac">Date of birth: *</label>
                <input class="form-control" type="date" name="FechaNac" value="" required max="@today" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="Sexo">Gender: *</label>
                <select class="form-control" name="Sexo" required>
                    <option value="">Choose an option</option>
                    <option value="FEMENINO">FEMALE</option>
                    <option value="MASCULINO">MALE</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="ParajeAtencion">Place of attention: *</label>
                <input class="form-control" type="text" name="ParajeAtencion" value="" required />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="FlgActivo">Active:</label>
                <select class="form-control" name="FlgActivo">                    
                    <option selected value=1>Active</option>
                    <option value=0>Inactive</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="FechaAlta">Date of entry: </label>
                <input class="form-control" type="date" name="FechaAlta" value="" max="@today" />
            </div>
        </div>
        <br />
        <br />
        <input class="btn btn-lg btn-success" type="submit" name="agregar" value="Create Patient" />
    </form>
</div>
