@model Entidades.Models.Antecedente;

@{
    Layout = "../Shared/_Layout.cshtml";
}

<div class="container text-center">
    <h1 class="display-4">@ViewBag.Paciente.Nombre @ViewBag.Paciente.Apellido</h1>
    <h4>History (create)</h4>
    <br />
    <form action="/Antecedente/CreateAntecedent" method="POST">
        <div class="row">
            <div class="col">
                <label class="form-label" for="Sedentarismo">Sedentary lifestyle: </label>
                <select class="form-control" name="Sedentarismo">
                    <option value=0>Choose an option</option>
                    <option value=1>Yes</option>
                    <option value=0>No</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="Alcohol">Alcohol: </label>
                <select class="form-control" name="Alcohol">
                    <option value=0>Choose an option</option>
                    <option value=1>Yes</option>
                    <option value=0>No</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="Drogas">Drugs Consumption: </label>
                <select class="form-control" name="Drogas">
                    <option value=0>Choose an option</option>
                    <option value=1>Yes</option>
                    <option value=0>No</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="Tabaco">Tobacco: </label>
                <select class="form-control" name="Tabaco">
                    <option value=0>Choose an option</option>
                    <option value=1>Yes</option>
                    <option value=0>No</option>
                </select>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="Alergias">Allergies: </label>
                <select class="form-control" name="Alergias">
                    <option value=0>Choose an option</option>
                    <option value=1>Yes</option>
                    <option value=0>No</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="Dbt">Diabetes: </label>
                <select class="form-control" name="Dbt">
                    <option value=0>Choose an option</option>
                    <option value=1>Yes</option>
                    <option value=0>No</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="Hta">HBP: </label>
                <select class="form-control" name="Hta">
                    <option value=0>Choose an option</option>
                    <option value=1>Yes</option>
                    <option value=0>No</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="Dislipemia">Dyslipidemia: </label>
                <select class="form-control" name="Dislipemia">
                    <option value=0>Choose an option</option>
                    <option value=1>Yes</option>
                    <option value=0>No</option>
                </select>
            </div>
        </div>
        <br />
        <br />
        <div class="row">            
            <div class="col">
                <label class="form-label" for="Obesidad">Obesity: </label>
                <select class="form-control" name="Obesidad">
                    <option value=0>Choose an option</option>
                    <option value=1>Yes</option>
                    <option value=0>No</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="Chagas">Chagas disease: </label>
                <select class="form-control" name="Chagas">
                    <option value=0>Choose an option</option>
                    <option value=1>Yes</option>
                    <option value=0>No</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="Hidatidosis">Hydatidosis: </label>
                <select class="form-control" name="Hidatidosis">
                    <option value=0>Choose an option</option>
                    <option value=1>Yes</option>
                    <option value=0>No</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="Tbc">TB: </label>
                <select class="form-control" name="Tbc">
                    <option value=0>Choose an option</option>
                    <option value=1>Yes</option>
                    <option value=0>No</option>
                </select>
            </div>
        </div>
        <br />
        <br />        
        <div class="row">
            
            <div class="col">
                <label class="form-label" for="Cancer">Cancer: </label>
                <select class="form-control" name="Cancer">
                    <option value=0>Choose an option</option>
                    <option value=1>Yes</option>
                    <option value=0>No</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="Quirurgicos">Surgical: </label>
                <select class="form-control" name="Quirurgicos">
                    <option value=0>Choose an option</option>
                    <option value=1>Yes</option>
                    <option value=0>No</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="Hospitalizaciones">Hospitalizations: </label>
                <select class="form-control" name="Hospitalizaciones">
                    <option value=0>Choose an option</option>
                    <option value=1>Yes</option>
                    <option value=0>No</option>
                </select>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="RiesgoNut">Nutritional risk: </label>
                <select class="form-control" name="RiesgoNut">
                    <option value=0>Choose an option</option>
                    <option value=1>Yes</option>
                    <option value=0>No</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="RiesgoSoc">Social risk: </label>
                <select class="form-control" name="RiesgoSoc">
                    <option value=0>Choose an option</option>
                    <option value=1>Yes</option>
                    <option value=0>No</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="Personales">Personal history: </label>
                <select class="form-control" name="Personales">
                    <option value=0>Choose an option</option>
                    <option value=1>Yes</option>
                    <option value=0>No</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="Familiares">Family history: </label>
                <select class="form-control" name="Familiares">
                    <option value=0>Choose an option</option>
                    <option value=1>Yes</option>
                    <option value=0>No</option>
                </select>
            </div>
        </div>
        <br />
        <br />        
        <div class="row">
            <div class="col">
                <label class="form-label" for="AntPerinatales">Perinatal history: </label>
                <select class="form-control" name="AntPerinatales">
                    <option value=0>Choose an option</option>
                    <option value=1>Yes</option>
                    <option value=0>No</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="Vacunacion">Vaccination: </label>
                <select class="form-control" name="Vacunacion">
                    <option value=0>Choose an option</option>
                    <option value=1>Yes</option>
                    <option value=0>No</option>
                </select>
            </div>
            <div class="col">
                <label class="form-label" for="Medicacion">Medication: </label>
                <select class="form-control" name="Medicacion">
                    <option value=0>Choose an option</option>
                    <option value=1>Yes</option>
                    <option value=0>No</option>
                </select>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col">
                <label class="form-label" for="Notas">Notes: </label>
                <textarea name="Notas" class="form-control" cols="120" rows="8"></textarea>
            </div>
        </div>
        <br />
        <br />
        <br />
        <input type="number" name="PacienteId" value=@ViewBag.Paciente.Id hidden />
        <input class="btn btn-lg btn-success" type="submit" name="agregar" value="Add History" />
        <a class="btn btn-lg btn-danger" href="/Paciente/viewDetails/@ViewBag.Paciente.Id">Cancel</a>
    </form>
</div>